<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.3.0.min.css"/>
    <title>BIVA</title>
</head>
<body> 
   <h1> <h1>
    {{div26| safe}}
    {{div29| safe}}
    {{div30| safe}}
    {{div31| safe}}
    {{div32| safe}}
    {{div33| safe}}
</body>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.3.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-2.3.0.min.js"></script> 
    {{script26 | safe}}
    {{script29 | safe}}
    {{script30 | safe}}
    {{script31 | safe}}
    {{script32 | safe}}
    {{script33 | safe}}
</html>

