{% extends 'block.html' %}
{% block content %}
        {% comment %} First Row  {% endcomment %}
        <div class = "row">
          <div class="col-lg-8 col-md-12">
                <div class="card">
                  <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                      <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Category</span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                          <li class="nav-item">
                            <a class="nav-link active" href="#furniture" data-toggle="tab">
                              <i class="material-icons">apartment</i> Furniture
                              <div class="ripple-container"></div>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#office" data-toggle="tab">
                              <i class="material-icons">work</i> Office
                              <div class="ripple-container"></div>
                            </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#technology" data-toggle="tab">
                              <i class="material-icons">smartphone</i> Technology
                              <div class="ripple-container"></div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="furniture">
                        <table class="table">
                          <thead class="text-warning">
                              <th>Year</th>
                              <th>Sales</th>
                              <th>Profit</th>
                          </thead>
                          <tbody>
                            {% for card in dynmcards|slice:":4" %}
                              <tr>
                                <td>{{card.now}}</td>
                                <td>{{card.previous}}</td>
                                <td>{{card.percentage}}</td>
                              </tr>
                            {% endfor%}
                          </tbody>
                        </table>
                      </div>
                      <div class="tab-pane" id="office">
                          <table class="table">
                            <thead class="text-warning">
                                <th>Year</th>
                                <th>Sales</th>
                                <th>Profit</th>
                            </thead>
                            <tbody>
                            {% for card in dynmcards|slice:"4:8" %}
                              <tr>
                                <td>{{card.now}}</td>
                                <td>{{card.previous}}</td>
                                <td>{{card.percentage}}</td>
                              </tr>
                            {% endfor%}
                            </tbody>
                          </table>
                          
                        </div>
                        <div class="tab-pane" id="technology">
                          <table class="table">
                            <thead class="text-warning">
                                <th>Year</th>
                                <th>Sales</th>
                                <th>Profit</th>
                            </thead>
                            <tbody>
                            {% for card in dynmcards|slice:"8:12" %}
                              <tr>
                                <td>{{card.now}}</td>
                                <td>{{card.previous}}</td>
                                <td>{{card.percentage}}</td>
                              </tr>
                            {% endfor%}
                            </tbody>
                          </table>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        {% comment %} First row ended {% endcomment %}
        <div class = "row ml-1">
          {% for card in salescard%}
            <div class="col-sm-4 col-sm-4 col-sm-4 ">
                <div class="card card-stats text-white" style = " background-color: #03497D;">
                  <div class="card-header ">
                    <p class="card-category"><span class = "text-white">{{card.type}} Sales</span></p>
                    <h4 class="card-title text-white">This Month: {{card.now}} $</h4>
                    <h4 class="card-title text-white">Previous Month: {{card.previous}} $ </h4>
                  </div>
                   <div class="card-footer">
                    <div class="stats">
                    {% if card.percentage > '0'  %}
                      <p class="card-category">
                      <span class="text-success font-weight-bold"><i class="fa fa-long-arrow-up "></i> {{card.percentage}}% </span><span class= "text-white"> increase in {{card.type}}'s sales.</span></p>
                    {% else%}
                      <p class="card-category">
                      <span class="text-danger font-weight-bold"><i class="fa fa-long-arrow-down "></i> {{card.percentage}}% </span><span class= "text-white"> decrease in {{card.type}}'s sales.</span></p>
                    {% endif %}
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% comment %} Secound Row Sales Card {% endcomment %}
        <div class = "row ml-1">
          {% for card in profitscard %}
            <div class="col-sm-4 col-sm-4 col-sm-4 ">
                <div class="card card-stats text-white" style = " background-color: #F29722;">
                  <div class="card-header ">
                    <p class="card-category"><span class = "text-white">{{card.type}} Profits</span></p>
                    <h4 class="card-title text-white">This Month: {{card.now}} $</h4>
                    <h4 class="card-title text-white">Previous Month: {{card.previous}} $ </h4>
                  </div>
                   <div class="card-footer">
                    <div class="stats">
                    {% if card.percentage > '0'  %}
                      <p class="card-category">
                      <span class="text-success font-weight-bold"><i class="fa fa-long-arrow-up "></i> {{card.percentage}}% </span><span class= "text-white"> increase in {{card.type}}'s Profits.</span></p>
                    {% else%}
                      <p class="card-category">
                      <span class="text-danger font-weight-bold"><i class="fa fa-long-arrow-down "></i> {{card.percentage}}% </span><span class="text-white"> decrease in {{card.type}}'s Profits.</span></p>
                    {% endif %}
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% comment %} Third Row Profit Cards {% endcomment %}
         <div class="row">
            <div class="col-md-8 col-md-8 ml-3">
              <div class="card card-content">
                {{divlist.2| safe }}
                {{scriptlist.2| safe}} 
              </div>
            </div>
            <div class="col-sm-3 col-sm-3 ml-1 mr-2">
              <div class="card card-content">
                {{divlist.3| safe }}
                {{scriptlist.3| safe}} 
              </div>
            </div>
              
         </div>
        {% comment %} Fourth row ended {% endcomment %}
          <div class = "row d-flex justify-content-center">
                {{divlist.0| safe }}
                {{scriptlist.0| safe}}
          </div> 
        {% comment %} Fifth Row Ended Weekly commulative Sales line Graph comparison {% endcomment %}
          <div class='row '>
            <div class="col-md-6 col-md-6 ml-3">
              <div class="card card-content">
                {{divlist.4| safe }}
                {{scriptlist.4| safe}} 
              </div>
            </div>
            <div class="col-sm-4 col-sm-4 ml-5">
              <div class="card card-content">
                {{divlist.1| safe }}
                {{scriptlist.1| safe}} 
              </div>
            </div>
          </div>
          {% comment %} Sixth row ended Pie chart and graph {% endcomment %}
          <div class = "row d-flex justify-content-center">
                {{divlist.5| safe }}
                {{scriptlist.5| safe}}
          </div>
          {% comment %} seventh row ended {% endcomment %}
        
          {% comment %} Forms for Choosing Catrgory and Maping it{% endcomment %}
          <div class = "row d-flex justify-content-center">
            <div class="col-md-6">
              <div class="card" >
                <div class="card-header card-header-primary" >
                  <h4 class="card-title">Specific Category</h4>
                  <p class="card-category">Enter Category</p>
                </div>
                <div class="card-body">
                  <form method = 'POST' action="#">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Category</label>
                          <input type="text" class="form-control" name = "name" required>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" name='button' value='category'>Submit</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            {% comment %} Secound Form {% endcomment %}
            <div class="col-md-6">
              <div class="card" >
                <div class="card-header card-header-primary" >
                  <h4 class="card-title">Specific Subcategory</h4>
                  <p class="card-category">Enter Subcategory</p>
                </div>
                <div class="card-body">
                  <form method = 'POST' action="#">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Sub-category</label>
                          <input type="text" class="form-control" name = "name" required>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" name='button' value='subcategory'>Submit</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% comment %} Forms Ended {% endcomment %}

          {% comment %} Now by using IF statements form jinja notation we will differentiate between submissions {% endcomment %}
          {% if category %}
            <div class = "row d-flex justify-content-center">
                {{divlist.6| safe }}
                {{scriptlist.6| safe}}
            </div>
            <div class='row '>
                <div class="col-md-6 col-md-6">
                  <div class="card card-content" >
                    {{divlist.7| safe }}
                    {{scriptlist.7| safe}} 
                  </div>
                </div>
                <div class="col-md-6 col-md-6">
                  <div class="card card-content">
                    {{divlist.9| safe }}
                    {{scriptlist.9| safe}} 
                  </div>
                </div>
            </div>
            <div class = "row d-flex justify-content-center">
                {{divlist.8| safe }}
                {{scriptlist.8| safe}}
              <div class="col-sm-4 col-sm-4 col-sm-4 ">
                <div class="card card-stats text-white" style = " background-color: #03497D;">
                  <div class="card-header ">
                    <p class="card-category"><span class = "text-white">Products Info</span></p>
                    <h4 class="card-title text-white">Total number of units: {{products}}</h4>
                    <h4 class="card-title text-white">Average price: {{avgprice}}$ </h4>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

          {% if subcategory %}
            <div class = "row d-flex justify-content-center">
                {{divlist.6| safe }}
                {{scriptlist.6| safe}}
            </div>
            <div class='row '>
              <div class="col-md-6 col-md-6">
                <div class="card card-content" >
                  {{divlist.8| safe }}
                  {{scriptlist.8| safe}} 
                </div>
              </div>
              <div class="col-md-6 col-md-6">
                <div class="card card-content">
                  {{divlist.10| safe }}
                  {{scriptlist.10| safe}} 
                </div>
              </div>
            </div>
            <div class = "row d-flex justify-content-center">
                {{divlist.9| safe }}
                {{scriptlist.9| safe}}
              <div class="col-sm-4 col-sm-4 col-sm-4 ">
                <div class="card card-stats text-white" style = " background-color: #03497D;">
                  <div class="card-header ">
                    <p class="card-category"><span class = "text-white">Products Info</span></p>
                    <h4 class="card-title text-white">Total number of units: {{products}}</h4>
                    <h4 class="card-title text-white">Average price: {{avgprice}}$ </h4>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class = "row d-flex justify-content-center">
                {{divlist.7| safe }}
                {{scriptlist.7| safe}}
            </div>
            <div class = "row d-flex justify-content-center mt-4">
                {{divlist.11| safe }}
                {{scriptlist.11| safe}}
            </div>

          {% endif %}
          
      
    {% comment %} write within its wrapper {% endcomment %}
{% endblock content %}