{% extends 'block.html' %}
{% block content %}
        {% comment %} First Row  {% endcomment %}
            <div class="row">
              {%for dashcard in dashcards1%}
              <div class="col-sm-4 col-sm-4 col-sm-4">
                <div class="card card-stats bg-secondary text-white">
                  <div class="card-header ">
                    <p class="card-category"><span class = "text-white">{{dashcard.type}} Sales</span></p>
                    <h3 class="card-title">{{dashcard.now}} $</h3>
                    <h3 class="card-title">{{dashcard.previous}} $ </h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                    {% if dashcard.percentage > '0'  %}
                      <p class="card-category">
                      <span class="text-success"><i class="fa fa-long-arrow-up"></i> {{dashcard.percentage}}% </span> increase in {{dashcard.type}} sales.</p>
                    {% else%}
                      <p class="card-category">
                      <span class="text-danger"><i class="fa fa-long-arrow-down"></i> {{dashcard.percentage}}% </span> decrease in {{dashcard.type}} sales.</p>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        {% comment %} first row ended {% endcomment %}
          <div class="row">
              {%for dashcard in dashcards2%}
              <div class="col-md-6 col-md-6">
                <div class="card card-stats bg-info">
                  <div class="card-header">
                    {% comment %} <p class="card-category">{{dashcard.type}} Sales</p> {% endcomment %}
                    <h3 class="card-title">This week average {{dashcard.now}} $</h3>
                    <h3 class="card-title">{{dashcard.previous}} $ </h3>
                    <h3 class="card-title">{{dashcard.percentage}} $ </h3>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>

        {% comment %} Secound Row Ended {% endcomment %}
          <div class='row'>
                {{div18| safe }}
                {{script18| safe}} 
                <div style="width: 100px; height: 100px;"></div>
                {{div19| safe }}
                {{script19| safe}} 
          </div>
          

     
      
    {% comment %} write within its wrapper {% endcomment %}
     {% endblock content %}