{% extends 'block.html' %}
{% block content %}
        {% comment %} First Row  {% endcomment %}
            <div class="row"> 
              <div class="col-sm-4 col-sm-4 col-sm-4 ">
                <div class="card card-stats text-white" style = " background-color: #03497D;">
                  <div class="card-header ">
                    <p class="card-category"><span class = "text-white">{{dashcards1.0.type}} Sales</span></p>
                    <h4 class="card-title text-white">Today: {{dashcards1.0.now}} $</h4>
                    <h4 class="card-title text-white">Yesterday: {{dashcards1.0.previous}} $ </h4>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                    {% if dashcards1.0.percentage > '0'  %}
                      <p class="card-category">
                      <span class="text-success font-weight-bold"><i class="fa fa-long-arrow-up "></i> {{dashcards1.0.percentage}}% </span><span class= "text-white"> increase in {{dashcards1.0.type}} sales.</span></p>
                    {% else%}
                      <p class="card-category">
                      <span class="text-danger font-weight-bold"><i class="fa fa-long-arrow-down "></i> {{dashcards1.0.percentage}}% </span><span class= "text-white"> decrease in {{dashcards1.0.type}} sales.</span></p>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% comment %} secound card {% endcomment %}
              <div class="col-sm-4 col-sm-4 col-sm-4 ">
                <div class="card card-stats text-white" style = " background-color: #03497D;">
                  <div class="card-header ">
                    <p class="card-category"><span class = "text-white">{{dashcards1.1.type}} Sales</span></p>
                    <h4 class="card-title text-white ">This Week: {{dashcards1.1.now}} $</h4>
                    <h4 class="card-title text-white">Previous Week: {{dashcards1.1.previous}} $ </h4>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                    {% if dashcards1.1.percentage > '0'  %}
                      <p class="card-category">
                      <span class="text-success font-weight-bold"><i class="fa fa-long-arrow-up "></i> {{dashcards1.1.percentage}}% </span><span class= "text-white"> increase in {{dashcards1.1.type}} sales.</span></p>
                    {% else%}
                      <p class="card-category">
                      <span class="text-danger font-weight-bold"><i class="fa fa-long-arrow-down "></i> {{dashcards1.1.percentage}}% </span><span class= "text-white"> decrease in {{dashcards1.1.type}} sales.</span></p>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              {% comment %} Third card {% endcomment %}
              <div class="col-sm-4 col-sm-4 col-sm-4 ">
                <div class="card card-stats text-white" style = " background-color: #03497D;">
                  <div class="card-header ">
                    <p class="card-category"><span class = "text-white">{{dashcards1.2.type}} Sales</span></p>
                    <h4 class="card-title text-white">This Month: {{dashcards1.2.now}} $</h4>
                    <h4 class="card-title text-white">Previous Month: {{dashcards1.2.previous}} $ </h4>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                    {% if dashcards1.2.percentage > '0'  %}
                      <p class="card-category">
                      <span class="text-success font-weight-bold"><i class="fa fa-long-arrow-up "></i> {{dashcards1.2.percentage}}% </span><span class= "text-white"> increase in {{dashcards1.2.type}} sales.</span></p>
                    {% else%}
                      <p class="card-category">
                      <span class="text-danger font-weight-bold"><i class="fa fa-long-arrow-down "></i> {{dashcards1.2.percentage}}% </span><span class= "text-white"> decrease in {{dashcards1.2.type}} sales.</span></p>
                    {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
        {% comment %} first row ended {% endcomment %}
         <div class = "row d-flex justify-content-center">
                {{divlist.3| safe }}
                {{scriptlist.3| safe}}
          </div>
        {% comment %} Secound Row Ended Yearly sales line Graph comparison {% endcomment %}
           <div class="row">
              <div class="col-md-6 col-md-6">
                <div class="card card-stats " style = " background-color: #F29722;">
                  <div class="card-header ">
                   <p class="card-category"><span class = "text-white">Current Week </span></p>
                   <h3 class="card-title text-white">Total Profit: {{dashcards2.0.now}} $</h3>
                   <h3 class="card-text text-white">Total Discount: {{dashcards2.0.previous}} $ </h3>
                   <h3 class="card-text text-white">Total Shipping Cost: {{dashcards2.0.percentage}} $ </h3>
                  </div>
                </div>
              </div>
              
              <div class="col-md-6 col-md-6">
                <div class="card card-stats " style = " background-color: #F29722;">
                  <div class="card-header ">
                  <p class="card-category"><span class = "text-white">All-Time</span></p>
                   <h3 class="card-title text-white">Average Transaction Sales: {{dashcards2.1.now}}$</h3>
                   <h3 class="card-text text-white">Average Order Sale: {{dashcards2.1.previous}} $ </h3>
                   <h3 class="card-text text-white">Average Customer Value: {{dashcards2.1.percentage}} $ </h3>
                  </div>
                </div>
              </div>
          </div>
          {% comment %} Third row ended two cards AVG + Weekly Sales   {% endcomment %}
          <div class='row '>
            <div class="col-md-6 col-md-6">
              <div class="card card-content" >
                {{divlist.0| safe }}
                {{scriptlist.0| safe}} 
              </div>
            </div>
            <div class="col-md-6 col-md-6">
              <div class="card card-content">
                {{divlist.2| safe }}
                {{scriptlist.2| safe}} 
              </div>
            </div>
          </div>
          {% comment %} Forth row ended two Graphs {% endcomment %}
          <div class='row '>
            <div class="col-md-8 col-md-8 ">
              <div class="card card-content">
                {{divlist.4| safe }}
                {{scriptlist.4| safe}} 
              </div>
            </div>
            <div class="col-sm-3 col-sm-3 ml-1">
              <div class="card card-content">
                {{divlist.1| safe }}
                {{scriptlist.1| safe}} 
              </div>
            </div>
          </div>
          {% comment %} Fifth row ended Pie chart and graph {% endcomment %}
          <div class = "row d-flex justify-content-center ">
                {{divlist.5| safe }}
                {{scriptlist.5| safe}}
          </div>
          {% comment %} Sixth row ended {% endcomment %}
          <div class='row '>
            <div class="col-md-6 col-md-6 ml-3">
              <div class="card card-content">
                {{divlist.7| safe }}
                {{scriptlist.7| safe}} 
              </div>
            </div>
            <div class="col-sm-4 col-sm-4 ml-3">
              <div class="card card-content">
                {{divlist.6| safe }}
                {{scriptlist.6| safe}} 
              </div>
            </div>
          </div>
        

     
      
    {% comment %} write within its wrapper {% endcomment %}
     {% endblock content %}