<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.3.0.min.css"/>
    <title>BIVA</title>
</head>
<body> 
   <h1> <h1>
   {{div39| safe}}
    
    {{div41| safe}}
    {{div42| safe}}
    {{div43| safe}}
    {{div44| safe}}
    {{div45| safe}}
    
    
</body>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.3.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-2.3.0.min.js"></script> 
    
    {{script41 | safe}}
    {{script42 | safe}}
    {{script39 | safe}}
    {{script43 | safe}}
    {{script44 | safe}}
    {{script45 | safe}}
</html>

