<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.3.0.min.css"/>
    <title>BIVA</title>
</head>
<body> 
   <h1> <h1>
    {{div18| safe}}
    {{div19| safe}}
    {{div20| safe}}
    {{div21| safe}}
    {{div22| safe}}
    {{div23| safe}}
    {{div24| safe}}
    {{div25| safe}}
</body>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.3.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-2.3.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-tables-2.3.0.min.js"></script>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-api-2.3.0.min.js"></script> 
    {{script18 | safe}}
    {{script19 | safe}}
    {{script20 | safe}}
    {{script21 | safe}}
    {{script22 | safe}}
    {{script23 | safe}}
    {{script24 | safe}}
    {{script25 | safe}}
</html>

